.footer {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 67px;
}

@media screen and (max-width: 768px){
    .footer {
        width: calc(100% - 2 * 19px);
        padding-top: 48px;
    }
}